#footer {
  width: 100%;
  height: 300px;
  background: #144552;
}
.footer {
  width: 1170px;
  /* height: 250px; */
  margin: 0 auto;
  /* background: firebrick; */
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.footer_item {
  width: 250px;
  height: 100%;
  /* background: khaki; */
}
.footer_item > p {
  text-align: justify;
}
.footer_item > img {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: auto;
}
.footer * {
  color: #f1fff1;
}
